@default: #000000;
@level1-key: #D00000;
@level1-value: #F00000;
@level2-key: #253565;
@level2-value: #458;
@level3-key: #9E3B0A;
@level3-value: #A94D20;
@level4-key: #008080;
@level4-value: #149494;
